.ourStory__wrapper{
    display:flex;
    flex-direction: column;
    gap:2rem;
}
.ourStory__title{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--black-1);
    margin-bottom: 1rem;
}
.ourStory__subtitle{
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--black-1);
    margin-bottom: 2rem;
}
.ourStory__text{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color:var(--black-1);

}
@media only screen and (min-width:768px) {
    .ourStory__wrapper{
        flex-direction: row;
        gap:3rem;
    }
    .ourStory__img,
    .ourStory__info{
        flex:2;
    }

    .ourStory__title,
    .ourGoals__title{
        font-size: 3.6rem;
    }
    .ourStory__subtitle{
        font-size: 1.8rem;
    }
    .ourStory__text,
    .ourGoals__text
    {
        font-size: 1.8rem;
        max-width:900px;
        line-height:2rem;
    }
}
/*goals stle*/
.ourGoals__info{
    text-align: left;
    margin-bottom: 5rem;
}
.ourGoals__img__wrapper{
    object-fit: cover;
}
.ourGoals__img__wrapper
{
    max-width: 800px;
    margin-bottom: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1rem;
}
















