body {font-family:sans-serif;}
* {box-sizing: border-box;}


.form-container {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
}
form{
  width: 50%;

}
.form-container input[type=date],.form-container input[type=time]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container .btn {
  background-color:#26643b;
  font-size: 15px;
  color:whitesmoke;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

h1{
  text-align: center;
}

form img{
  height: 26.3vh;
    margin-left: 1vh;
}