/* hero section*/
.hero__wrapper{
    display:flex;
    align-items: center;
    justify-content: column;
    gap:5rem;

}

.hero__left__wrapper{
    max-width: 360px;
}

.hero__imWrapper{
    max-width: 400px;
    width:80%;
    margin: 0 auto;
}

.button__wrapper{
    text-align: center;

}
@media only screen and (min-width:768px)
{
    flex-direction:row;
    gap: 1rem;;
    
}
.hero__left{
    flex:3;

}
.hero__right{
    flex: 4;
}
.hero__heading{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: left;
}
.hero__info{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.5rem;
}
.button__wrapper{

    text-align: left;
    
}
.hero__imWrapper{
    max-width: none;
    width:90%;
}
/* special section style*/
#ourSpecials{
    padding-top:10rem;

}
.ourSpecials__wrapper{
    display:flex;
    flex-direction:column;
    gap: 3rem;
}
.ourSpecials__left{
    display:flex;
    gap: 3rem;

}
.ourSpecials__service{
    background-color:var(--green-2);
    padding: 1.2rem;
    padding-top: 5rem;
    border-radius: 12px;
    margin:0 auto;

}
.ourSpecials__service__img{
    margin-top:calc(-50% -2rem);
    margin-bottom:2rem;
    border-radius:12px;
    height:150px;

    overflow:hidden;

}
.ourSpecials__service__img img{
    object-fit:cover;
}

.ourSpecials__service__title{
    font-size:1.8rem;
    color:var(--black-1);
    font-weight: 600;
    margin-bottom: 1rem;
}
.ourSpecials__service__price{
    color:var(--green-1);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;


}
.ourSpecials__service__stars{
    height:1.5rem;
    width:max-content;
    margin-bottom:1rem;
}
.ourSpecials__service__text{
    font-size:1.5rem;
    color:var(--black-2)
    font-weight: 500px;
    line-height:2rem;
}
.ourSpecials__title{
    font-size: 1.8rem;
    color:var(--black-1);
    margin-bottom: 1.5rem;
}
.ourSpecials__text{
    font-size: 1.5rem;
    color:var(--black-2);
    line-height: 2rem;

}
@media only screen and (min-width:768px){
    #ourSpecials{
        padding-top: 15rem;
    }
    .ourSpecials__container{
        max-width:900px;

    }
    .ourSpecials__wrapper{
        flex-direction:row;

    }
    .ourSpecials__right{
        flex:2;
    }
    .ourSpecials__left{
        flex:4;
        gap:2rem;
    }
    .ourSpecials__service{
        padding:2rem;
        width:45%;
    }
    .ourSpecials__service__title{
        font-size:2.4rem;
        line-height:1.4rem;
        margin-bottom:1.5rem;

    }
    .ourSpecials__service__price{
        font-size:1.8rem;
        margin-bottom:1rem;
    }
    .ourSpecials__service__stars{
     margin-bottom:2rem;

    }

.ourSpecials__service__text{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;

}
.ourSpecials__title{
    font-size:3.6rem;
    margin-bottom:1.5rem;
}
.ourSpecials__text{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.5rem;
    line-height: 2rem;
}
}
@media only screen and(max-width:300px){
    .ourSpecials__left{
        flex-wrap:wrap;
        gap:10rem;
    }
    .ourSpecials__service{
        width:100%;
    }
}
/* Events Media section*/

@media only screen and (min-width:768px){
    .eventsMedia__wrapper{
        gap: 2rem;
        display: flex;
    }
    .eventsMedia__1{
        position:relative;
    
    }
    
}
    /* Events info style*/
    #eventsInfo{
        padding-top: 0;

    }
    .eventsInfo__wrapper{
        display: flex;
        flex-direction: column;
    }
    .eventsInfo__item{
        display: flex;
        gap: 1rem;
        padding: 1rem;
        background: var(--green-2);
        margin-bottom: 1.5rem;
        border-radius: 12px;
    }
    .eventsInfo__item__img{
        border-radius: 12px;
        overflow: hidden;
        flex:3;
    }
    .eventsInfo__item__img img{
        object-fit: cover;

    }
    .eventsInfo__item__info{
        flex:4
    }
    .eventsInfo__item__title{
        font-size: 1.4rem; 
        color:var(--black-1);
        margin-bottom: 1rem;
    }
    .eventsInfo__item__text{
        font-size: 1.4rem;
        color:var(--black-1);
        line-height: 2rem;
    }
    .eventsInfo__right{
        margin-top: 2rem;
    }
    .eventsInfo__title{
        font-size: 1.8rem;
        color: var(--black-1);
        margin-bottom: 1rem;
    }
    .eventsInfo__text{
        color: var(--black-1);
        font-size: 1.4rem;
        margin-bottom: 1rem;
        line-height: 2rem;
    }

    @media only screen and (min-width:768px)
{
.eventsInfo__wrapper{
    flex-direction: row;
    gap:2rem;
}
.eventsInfo__left,
.eventsInfo__right{
    flex:1;
}
.eventsInfo__item{
    padding:2rem;
    gap: 2rem;
    max-width: 500px;
    margin-bottom: 2rem;
}
.eventsInfo__item__title{
    font-size: 1.8rem;
}
.eventsInfo__item__text{
    font-size: 1.6rem;
    
}
.eventsInfo__title{
    font-size:3.6rem;
}
.eventsInfo__text{
    max-width: 500px;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}

}    
/* Newsletter section style*/
.newsletter__wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--green-2);
    padding: 1.5rem;
    border-radius: 8px;
    gap:2rem;
}
.newsletter__title{
    font-size: 1.8rem;
    color: var(--black-1);
    font-weight: 600;
    margin-bottom: 1.3rem;
}
.newsletter__text{
    font-size: 1.4rem;
    color: var(--black-2);
    font-weight: 500;
    line-height: 2rem;
}
.newsletter__form form{
    position: relative;
    width:100%;
    border-radius: 8px;
    overflow: hidden;
}
.newsletter__form input{
    width:100%;
    font-size: 1.4rem;
    padding: 1.5rem 1rem;
    border:none;
}
.newsletter__form input::placeholder{
    color:rbg(168,166,166);

}
.newsletter__form button[type='submit']
{
    background-color: var(--green-1);
    color: var(--white-1);
    border:none;
    font-size: 1.4rem;
    padding: 0 2rem;
    height:100%;
    position: absolute;
    right: 0;
    top:0;

}
@media only screen and (min-width:768px){
    .newsletter__wrapper{
        flex-direction: row;
        padding: 5rem;
        align-items: center;
    }
    .newsletter__form,
    .newsletter__info{
        flex:1;
    }
    .newsletter__title{
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .newsletter__text{
        font-size:1.6rem;
        max-width:400px;
        margin-bottom: 1rem;
        line-height: 2rem;

    }
    .newsletter__form{
        max-width:450px;
        border-radius: 12px;

    }
    .newsletter__form input{
        font-size: 1.8rem;
        padding:2rem;
    }
    .newsletter__form button[type='submit']{
        font-size: 1.8rem;
        padding: 0 3rem;
    }
}
